@charset "utf-8";
/* CSS Document */

body
{
	width:auto;
	height:100%;
	/*background-image:url(background.jpg);*/
	background-color:#66ffff;
	background-attachment:local;
	position:relative;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size:20px;
	font-weight:lighter;
	margin:auto;
	/*max-width: 50%;*/
}

header
{
	width:100%;
	length:auto;
}

.column1
{
	float:left;
	margin-top:125px;
	margin-left:75px;
}

.column2
{
	float:left;
	margin-top:125px;
	margin-left:75px;
}

#myform 
{
    padding 12px;
}

.qty 
{
    width: 40px;
    height: 20px;
    text-align: center;
}
input.qtyplus { width:20px; height:20px;}
input.qtyminus { width:20px; height:20px;}

inputs:-webkit-input-placeholder {
    color: #b5b5b5;
}

inputs-moz-placeholder {
    color: #b5b5b5;
}

.inputs {
    background: #f5f5f5;
    font-size: 0.8rem;
	-webkit-transition:box-shadow 1s;
	-moz-transition:box-shadow 1s;
    -moz-border-radius: 2px;
    -webkit-border-radius: 3px;
    border-radius: 2px;
    border: none;
	margin:20px 0px;
    padding: 8px 8px;
    width:50px;
	height: 1.0em;
    box-shadow: inset 0 2px 3px rgba( 0, 0, 0, 0.1 );
    clear: both;
}

.inputs:focus {
	-webkit-transition:box-shadow 1s;
	-moz-transition:box-shadow 1s;
    background: #fff;
    box-shadow: 0 0 0 3px #00FFFF, inset 0 2px 3px rgba( 0, 0, 0, 0.2 ), 0px 5px 5px rgba( 0, 0, 0, 0.15 );
    outline: none;
}

#Comments {
	width: 300px;
	height: 1.1em;
}
	
.submit {
  margin:12px;
  -webkit-transition:background-color 1s;
  -moz-transition:background-color 1s;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background-color: #307cff;
  padding: 10px 20px 10px 20px;
}

.submit:hover {
  -webkit-transition:background-color 1s;
  -moz-transition:background-color 1s;
  background-color: #00FFFF;
}